h1{
    color: rgb(153, 13, 13);
}
.titulo-h2{ 
    color: rgb(14, 19, 10);
}
button{ 
    color: lightseagreen;
}
input{ 
    color: maroon;
}
[elmasgrande="river"] {
    color:rgb(110, 182, 52)
}
#goku {
    color: salmon;
}