body{
    background: #cfc;
    font-family: Georgia, 'cambria', serif;
    font-size: 16px;
    color: #00F;
}

h2{
    color:#f00 ;
    font-family: verdana, "calibri", sans-serif;
    font-size: 32px;
}
span{
    color: #060;
    text-decoration: underline;
}