html{
  box-sizing: border-box;
  font-size: 17px;
  font-family: sans-serif;
}

*,
*::after,
*::before{
  box-sizing: inherit;
  text-align: left;

}

a {
  margin-right: 1rem;
}

hr{
  margin: 2rem auto;
}

.active{
  font-weight:  bold;
  color: #71dafb;
}
li{
  margin-bottom: 1rem;
}